.sidepanel {
    position: fixed;
    top: 330px;
    left: -100px;
    width: 340px;
    height: 25px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    transform: rotate(-90deg);

    &__divider {
        width: 70px;
        height: 2px;
        background-color:black;
    }
    img {
        transform: rotate(90deg);
    }
}